<html>
<head>
  <style type="text/css">
    body {
      padding-left: 20px;
      padding-top: 20px;
      font-family: Arial, serif;
      font-size: 13px;
      color: #444;
    }

    .container {
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      background-color: #efefef;
      -moz-border-radius: 4px;
      border-radius: 4px;
      border-top: #ccc solid 3px;
      border-bottom: #ccc solid 3px;
    }

    .content {
      padding: 10px;
    }

  </style>
</head>
<body>
<table class="container" align="center" width="80%">
  <tr>
    <td width="20px;">&nbsp;</td>
    <td width="99%" class="content">

      Hello {{user.first_name}},<br/><br/>

      thanks for being interested in {{app.title}}.<br/>
      You have successfully registered a new account using the username "{{user.local.username}}"<br/><br/>

      Please click here to activate your account:<br/>
      <a href="{{app.registration.verificationUrl}}">{{app.registration.verificationUrl}}</a><br/><br/>

      Your verification code:<br/>
      <b>{{user.local.email_verification_code}}</b>

      <br/>
    </td>
    <td width="20px;">&nbsp;</td>
  <tr/>
</table>
</body>
</html>


